# general
# -------
*.bak
*.tmp
*~

# vim
# ---
*.swp

# vagrant
# -------
/.vagrant/

# visual studio code
# ------------------
/.vscode/launch.json

# ivy examples
# ------------
/src/ivy/examples

